/***************************************/
/************* Big Buttons *************/
/***************************************/
.big-button-container {
  padding: 10px 10px;
  margin: 20px;
  border-radius: 2px;
  box-shadow: 0px 1px 2px 0px gray;
  font-size: 2.5em;
  max-width: 14em;
  display: block;
}
 
.big-button-container:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}

.big-button-disabled {
  background-color: #f7f7f7;
  opacity: 0.6;
} 
 
a.big-button-container {
  text-decoration: none;
}

/****************************************/
/************ Button Effects ************/
/****************************************/
.disabled { 
  cursor: not-allowed; 
}

.fa { vertical-align: baseline;

}

/* Mobile Styles */
@media (max-width: 800px) {


/* FORMS */

  /* Increase size of buttons with type="submit" */
  button[type="submit"] {
    height: 64px !important;
    font-size: 32px !important;
    min-width: fit-content;
    width: 100%;
  }

  /* Increase font size of form field labels */
  .kn-label {
    font-size: 22px;
  }

  .kn-detail-body {
    font-size: 22px;
  }

  /* Increase height of text fields */
  input[type="text"] {
    height: 48px !important;
    font-size: 22px !important;
  }

   /* Increase font size of checkbox options */
  .option.checkbox {
    font-size: 22px;
  }

/* END FORMS */

/* NAVIGATION */

  /* Increase size of "back" links at bottom of pages */
  a.ang-link {
      font-size: 22px !important;
  }

  /* Increase height of select fields */
  .chzn-single {
    height: 48px !important;
  }

  .kn-select {
    height: 48px !important;
  }

  select {
    height: 48px !important;
    font-size: 22px !important;
  }

  /* Increase height of container surrounding select fields */
  .chzn-container {
    height: 48px;
    font-size: 22px !important;
  }

  .chzn-container > a > span {
    font-size: 22px !important;
  }

  /* Increase font size of dropdown text in select fields */
  .chzn-drop {
    font-size: 22px !important;
  }

/* END NAVIGATION */

/* ICONS */

  /* Increase size of Font Awesome icons */
  .icon .fa {
      font-size: 22px !important;
  }

/* END ICONS */

/* BUTTONS */

  /* Increase size of search button */
  .kn-button.search {
    height: 48px;
  }

   /* Increase default menu button size */
  .kn-button
  {
    height: 60px !important;
    font-size: 30px !important;
    width: 80%;
  }

   /* Increase font size of Choose File button */
  input[type="file"] {
    height: 48px !important;
    font-size: 22px !important;
}
.custom-file-upload {
    border: 3px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

  /* Increase size of Font Awesome icons */
  .icon .fa {
      font-size: 24px !important;
  }
  
/* END BUTTONS */

}

