/***************************************/
/********* FA Icon Positioning *********/
/***************************************/
/*Centers icon vertically on a line*/
.fa { vertical-align: baseline; }
/*Icon rests at the bottom of a line*/
.fa-bot { vertical-align: text-bottom; }
/*Icon touches the top of a line*/
.fa-top { vertical-align: text-top; }
.fa-gold { color: goldenrod; }

/****************************************/
/************ Button Effects ************/
/****************************************/
/*Call this class anytime you want to use this cursor*/
.disabled { cursor: not-allowed; }

/*Call this class anytime you want to center button text*/
.centered-text { text-align: center; }

/*Close Modal 'X' Button*/
.delete { border: #adb5bd .2em !important; background-color: #adb5bd !important;}
.close-modal {border: #495057 !important; background-color: #495057 !important;}
.delete:before { background-color: white !important; width: 66% !important; left: 44% !important; height: 3px !important; border-radius: 2px !important;}
.delete:after { background-color: white !important; width: 66% !important; left: 44% !important; height: 3px !important; border-radius: 2px !important;}

/***************************************/
/************* Big Buttons *************/
/***************************************/
.big-button-container {
  padding: 20px 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px gray;
  font-size: 2.5em;
  max-width: 15em;
  display: block;
}
 
.big-button-container:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.big-button-disabled {
  background-color: #f7f7f7;
  opacity: 0.6;
  pointer-events: none;
}
 
a.big-button-container { 
  text-decoration: none;
}

/***************************************/
/********** Directory Buttons **********/
/***************************************/
.directory-button {
  padding: 60px 60px;
  margin: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px gray;
  background-color: #ebebeb;
  color: #163f6e;
  font-size: 2em;
  max-width: 18em;
  min-width: 18em;
  max-height: 10em;
  min-height: 10em;
  text-align: center;
  display: inline-block;
}
 
.directory-button:hover {
  cursor: pointer;
  background-color: #f7f7f7;
  opacity: 0.9;
  border-color: gray;
  outline-color: transparent;
}

.directory-button-disabled {
  pointer-events: none;
  background-color: #f7f7f7;
  opacity: 0.6;
  border-color: transparent;
  outline-color: transparent;
}
 
a.directory-button { 
  text-decoration: none;
}

/***************************************/
/************ Small Buttons ************/
/***************************************/
.small-button-container {
  padding: 5px 10px;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px gray;
  font-size: 1em;
  max-width: 15em;
  background-color: #babbbc;
  color: white;
}

.small-button-container:hover {
  background-color: #4c4c4c;
  cursor: pointer;
}

.small-button-disabled {
  background-color: #f7f7f7;
  opacity: 0.6;
}

a.small-button {
  text-decoration: none;
}

/****************************************/
/**** Previous Window / Back Buttons ****/
/****************************************/
#previous-window-button {
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 0px gray;
  background-color: #ebebeb;
  color: #163f6e;
  padding: 5px 10px;
  font-size: 1.1em;
  text-align: center;
}

#previous-window-button:hover {
  cursor: pointer;
  opacity: 0.9;
  border-color: gray;
}

.back-button {
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 0px gray;
  background-color: #ebebeb;
  color: #163f6e;
  padding: 5px 10px;
  font-size: 1.1em;
  text-align: center;
  display: inline-block;
}

.back-button:hover {
  cursor: pointer;
  opacity: 0.9;
  border-color: gray;
}

a.back-button {text-decoration: none;}

/***************************************/
/*********** Trigger Buttons ***********/
/***************************************/
.trigger-button {
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 0px gray;
  background-color: #ebebeb;
  color: #163f6e;
  padding: 5px 10px;
  font-size: 1.1em;
  text-align: center;
  display: inline-block;
}

.trigger-button:hover {
  cursor: pointer;
  opacity: 0.9;
  border-color: gray;
}

/*Large Trigger Buttons*/
.trigger-button-large {
  width: 250px;
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 0px gray;
  background-color: #ebebeb;
  color: #163f6e;
  padding: 10px 10px;
  font-size: 18px;
  text-align: center;
  display: inline-block;
}

.trigger-button-large:hover {
  cursor: pointer;
  opacity: 0.9;
  border-color: gray;
}

.trigger-button-large-disabled {
  width: 250px;
  border-color: transparent;
  border-radius: 4px;
  background-color: #cbcbcb;
  color: #777777;
  padding: 10px 10px;
  font-size: 18px;
  text-align: center;
  opacity: 0.6;
  display: inline-block;
  outline-color: transparent;
}

/***************************************/
/******** Table Trigger Buttons ********/
/***************************************/
.table-trigger-button {
  padding: 2px 8px;
  border-width: 1px;
  border-color: #4CAE49;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px gray;
  background-color: #4CAE49;
  color: white;
  text-align: center;
}

.table-trigger-button:hover {
  cursor: pointer;
  opacity: 0.8;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

a.table-trigger-button { text-decoration: none; }

/****************************************/
/****** Table Icon Trigger Buttons ******/
/****************************************/
.table-icon-trigger-button {
  padding: 0px 4px;
  border-width: 1px;
  border-color: #367DB7;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px gray;
  background-color: transparent;
  color: white;
}

.table-icon-trigger-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

/*****************************************/
/** Style Links with Underline on Hover **/
/*****************************************/
/*use <a class="form-link" */
a.form-link:link {color: #367DB7; text-decoration: none;}
a.form-link:visited {color: #367DB7; text-decoration: none;}
a.form-link:hover {text-decoration: underline;}

/********************************************/
/** Style Links without Underline on Hover **/
/********************************************/
a.ang-link:link {text-decoration: none;}

/*****************************************/
/****** Style Back Links as Buttons ******/
/*****************************************/
/*RD Completed Work Page*/
#kn-scene_41 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_41 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*RD LE Review Page*/
#kn-scene_42 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_42 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*RD AE Review Page*/
#kn-scene_43 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_43 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*RD QA Review Page*/
#kn-scene_255 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_255 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*RD Technician Review Page*/
#kn-scene_276 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_276 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*Regulation Document Details Page*/
#kn-scene_58 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_58 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*Regulation Details Page*/
#kn-scene_13 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_13 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*Manage Regulation Backfill Page*/
#kn-scene_417 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_417 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*Manage Reg Types Page*/
#kn-scene_393 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_393 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*Manage Streets Page*/
#kn-scene_394 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_394 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*****************************************/
/** Remove Back Links for Reg Doc Draft **/
/*****************************************/
/*Drafting Instructions Page*/
#kn-scene_446 .kn-back-link { display: none; }

/*Add Regulations Page*/
#kn-scene_447 .kn-back-link { display: none; }

/*Save Draft Page*/
#kn-scene_454 .kn-back-link { display: none; }

/****************************************/
/*** Remove Back Links for Task Board ***/
/****************************************/
/*My Tasks*/
#kn-scene_436 .kn-back-link { display: none; }

/*My Tasks - Pending Tasks*/
#kn-scene_439 .kn-back-link { display: none; }

/*My Tasks - Active Tasks*/
#kn-scene_440 .kn-back-link { display: none; }

/*My Tasks - Completed Tasks*/
#kn-scene_441 .kn-back-link { display: none; }

/*My Contributions*/
#kn-scene_437 .kn-back-link { display: none; }

/*Team Tasks*/
#kn-scene_438 .kn-back-link { display: none; }

/*Team Tasks - Pending Tasks*/
#kn-scene_442 .kn-back-link { display: none; }

/*Team Tasks - Active Tasks*/
#kn-scene_443 .kn-back-link { display: none; }

/*Team Tasks - Completed Tasks*/
#kn-scene_444 .kn-back-link { display: none; }

/*Review Page*/
#kn-scene_469 .kn-back-link { display: none; }

/*Draft Editor*/
#kn-scene_485 .kn-back-link { display: none; }

/*********************************************/
/*** Min Width & Transparent Detail Labels ***/
/*********************************************/
/*Hello/Welcome Details Label on Task Board*/
#kn-scene_435 .kn-detail-label { background-color: transparent; min-width: 0% !important; }

/*Draft Reg Doc ID on Draft Builder*/
#kn-scene_447 .kn-detail-label { background-color: transparent; min-width: 0% !important; }
#kn-scene_448 .kn-detail-label { background-color: transparent; min-width: 0% !important; }
#kn-scene_449 .kn-detail-label { background-color: transparent; min-width: 0% !important; }
#kn-scene_450 .kn-detail-label { background-color: transparent; min-width: 0% !important; }
#kn-scene_451 .kn-detail-label { background-color: transparent; min-width: 0% !important; }
#kn-scene_452 .kn-detail-label { background-color: transparent; min-width: 0% !important; }
#kn-scene_454 .kn-detail-label { background-color: transparent; min-width: 0% !important; }

/*Draft Reg Doc ID on Draft Editor*/
#kn-scene_486 .kn-detail-label { background-color: transparent; min-width: 0% !important; }
#kn-scene_487 .kn-detail-label { background-color: transparent; min-width: 0% !important; }
#kn-scene_488 .kn-detail-label { background-color: transparent; min-width: 0% !important; }
#kn-scene_489 .kn-detail-label { background-color: transparent; min-width: 0% !important; }
#kn-scene_490 .kn-detail-label { background-color: transparent; min-width: 0% !important; }
#kn-scene_491 .kn-detail-label { background-color: transparent; min-width: 0% !important; }
#kn-scene_493 .kn-detail-label { background-color: transparent; min-width: 0% !important; }

/*Reg Doc Print Page*/
#kn-scene_555 .kn-detail-label { background-color: transparent; min-width: 0% !important; }


