/***************************************/
/********* FA Icon Positioning *********/
/***************************************/
/*Centers icon vertically on a line*/
.fa { vertical-align: baseline; }
/*Icon rests at the bottom of a line*/
.fa-bot { vertical-align: text-bottom; }
/*Icon touches the top of a line*/
.fa-top { vertical-align: text-top; }

/****************************************/
/************ Button Effects ************/
/****************************************/
/*Call this class anytime you want to use this cursor*/
.disabled { cursor: not-allowed; }

/*Call this class anytime you want to center button text*/
.centered-text { text-align: center; }

/*Close Modal 'X' Button*/
.delete { border: #adb5bd .2em !important; background-color: #adb5bd !important;}
.close-modal {border: #495057 !important; background-color: #495057 !important;}
.delete:before { background-color: white !important; width: 66% !important; left: 44% !important; height: 3px !important; border-radius: 2px !important;}
.delete:after { background-color: white !important; width: 66% !important; left: 44% !important; height: 3px !important; border-radius: 2px !important;}

/***************************************/
/************* Big Buttons *************/
/***************************************/
.big-button-container {
  padding: 20px 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px gray;
  font-size: 2.5em;
  max-width: 16em;
  display: block;
}
 
.big-button-container:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.big-button-disabled {
  background-color: #f7f7f7;
  opacity: 0.6;
  pointer-events: none;
}
 
a.big-button-container { 
  text-decoration: none;
}

/***************************************/
/************ Small Buttons ************/
/***************************************/
.small-button-container {
  padding: 5px 10px;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px gray;
  font-size: 1em;
  max-width: 15em;
  background-color: #babbbc;
  color: white;
}

.small-button-container:hover {
  background-color: #4c4c4c;
  cursor: pointer;
}

.small-button-disabled {
  background-color: #f7f7f7;
  opacity: 0.6;
}

a.small-button {
  text-decoration: none;
}

/****************************************/
/**** Previous Window / Back Buttons ****/
/****************************************/
#previous-window-button {
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 0px gray;
  background-color: #ebebeb;
  color: #163f6e;
  padding: 5px 10px;
  font-size: 1.1em;
  text-align: center;
}

#previous-window-button:hover {
  cursor: pointer;
  opacity: 0.9;
  border-color: gray;
}

.back-button {
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 0px gray;
  background-color: #ebebeb;
  color: #163f6e;
  padding: 5px 10px;
  font-size: 1.1em;
  text-align: center;
  display: inline-block;
}

.back-button:hover {
  cursor: pointer;
  opacity: 0.9;
  border-color: gray;
}

a.back-button {text-decoration: none;}

/***************************************/
/*********** Trigger Buttons ***********/
/***************************************/
.trigger-button {
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 0px gray;
  background-color: #ebebeb;
  color: #163f6e;
  padding: 5px 10px;
  font-size: 1.1em;
  text-align: center;
  display: inline-block;
}

.trigger-button:hover {
  cursor: pointer;
  opacity: 0.9;
  border-color: gray;
}

/*Large Trigger Buttons*/
.trigger-button-large {
  width: 250px;
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 0px gray;
  background-color: #ebebeb;
  color: #163f6e;
  padding: 10px 10px;
  font-size: 18px;
  text-align: center;
  display: inline-block;
}

.trigger-button-large:hover {
  cursor: pointer;
  opacity: 0.9;
  border-color: gray;
}

.trigger-button-large-disabled {
  width: 250px;
  border-color: transparent;
  border-radius: 4px;
  background-color: #cbcbcb;
  color: #777777;
  padding: 10px 10px;
  font-size: 18px;
  text-align: center;
  opacity: 0.6;
  display: inline-block;
  outline-color: transparent;
}

/***************************************/
/******** Table Trigger Buttons ********/
/***************************************/
.table-trigger-button {
  padding: 2px 8px;
  border-width: 1px;
  border-color: #4CAE49;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px gray;
  background-color: #4CAE49;
  color: white;
  text-align: center;
}

.table-trigger-button:hover {
  cursor: pointer;
  opacity: 0.8;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

a.table-trigger-button { text-decoration: none; }

/****************************************/
/****** Table Icon Trigger Buttons ******/
/****************************************/
.table-icon-trigger-button {
  padding: 0px 4px;
  border-width: 1px;
  border-color: #367DB7;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px gray;
  background-color: transparent;
  color: white;
}

.table-icon-trigger-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

/*****************************************/
/** Style Links with Underline on Hover **/
/*****************************************/
/*use <a class="form-link" */
a.form-link:link {color: #367DB7; text-decoration: none;}
a.form-link:visited {color: #367DB7; text-decoration: none;}
a.form-link:hover {text-decoration: underline;}

/********************************************/
/** Style Links without Underline on Hover **/
/********************************************/
a.ang-link:link {text-decoration: none;}

/*****************************************/
/****** Style Back Links as Buttons ******/
/*****************************************/
/*RD Completed Work Page*/
#kn-scene_329 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_329 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*Area Case Load Page*/
#kn-scene_273 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_273 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*Reviewer Case Load Page*/
#kn-scene_271 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_271 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*TIA */
/*TIA Case Details Page*/
#kn-scene_49 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_49 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*Mitigations Page*/
#kn-scene_290 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_290 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*Mitigation Segment & Intersections Feature Map Page*/
#kn-scene_294 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_294 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*Case Management Page*/
#kn-scene_186 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_186 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*Submission Details Page*/
#kn-scene_187 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_187 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*Scope Submission Details Page*/
#kn-scene_234 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_234 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*Customer Submission Details Page*/
#kn-scene_484 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_484 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*Customer Scope Submission Details Page*/
#kn-scene_487 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_487 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*Mitigations Reporting Page*/
#kn-scene_268 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_268 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*Submissions Reporting Page*/
#kn-scene_284 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_284 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*TIA Cases Search Page*/
#kn-scene_301 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_301 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*TIA Mitigations Search Page*/
#kn-scene_302 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_302 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*TIA Submissions Search Page*/
#kn-scene_303 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_303 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*TIA Scope Submissions Search Page*/
#kn-scene_304 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_304 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*TIA Submission Content Search Page*/
#kn-scene_305 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_305 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*TIA Scope Submission Content Search Page*/
#kn-scene_306 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_306 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*TIA Communication Search Page*/
#kn-scene_308 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_308 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*TIA Determination Details Page*/
#kn-scene_407 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_407 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*TIA Mitigation Case Details Page*/
#kn-scene_488 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_488 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*TIA Mitigation Segment & Intersections Map Page*/
#kn-scene_521 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_521 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*TDR */
/*TDR Vision Team Dashboard Completed Work Page*/
#kn-scene_347 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_347 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*TDR Case Details Page*/
#kn-scene_5 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_5 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*TDR Review Cycle Details Page*/
#kn-scene_332 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_332 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*TDR Review Comment Details Page*/
#kn-scene_338 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_338 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*TDR Unassigned Comments Page*/
#kn-scene_37 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_37 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*TDR Edit Vision Team Reviewer Page*/
#kn-scene_333 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_333 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*TDR Search Cases Page*/
#kn-scene_345 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_345 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*TDR Search Comments Page*/
#kn-scene_346 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_346 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*TDA */
/*TDA Review Details Page*/
#kn-scene_277 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_277 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*SIF Worksheet */
/*SIF Worksheet Review Details Page*/
#kn-scene_518 .kn-back-link { padding: 5px 10px; border-style: solid; border-width: 1px; border-color: #dddddd; border-radius: 4px; 
  box-shadow: 0px 0px 0px 0px gray; font-size: 1.1em; background-color: #ebebeb; color: #163f6e; text-align: center; }
#kn-scene_518 .kn-back-link:hover { opacity: 0.9; cursor: pointer; border-color: gray; }

/*****************************************/
/** Remove Back Links for SIF Worksheet **/
/*****************************************/
/*SIF Worksheet Submittal Page*/
#kn-scene_500 .kn-back-link {
  display: none;
}
/*SIF Worksheet Submittal Information Page*/
#kn-scene_505 .kn-back-link {
  display: none;
}
/*Review SIF Worksheet Submittal Page*/
#kn-scene_506 .kn-back-link {
  display: none;
}
/*Edit SIF Worksheet Submittal Page*/
#kn-scene_507 .kn-back-link {
  display: none;
}
/*SIF Worksheet Submittal Confirmation Page*/
#kn-scene_512 .kn-back-link {
  display: none;
}

/*********************************************/
/** Remove Back Links for TIA Determination **/
/*********************************************/
/*Determination PDF Page*/
#kn-scene_398 .kn-back-link {
  display: none;
}
/*Determination Information Page*/
#kn-scene_412 .kn-back-link {
  display: none;
}
/*Review Determination Page*/
#kn-scene_413 .kn-back-link {
  display: none;
}
/*Edit Determination Page*/
#kn-scene_414 .kn-back-link {
  display: none;
}
/*Determination Confirmation Page*/
#kn-scene_417 .kn-back-link {
  display: none;
}

/************************************************/
/** Remove Back Links for Full TIA Application **/
/************************************************/
/*TIA Applicant Information Page*/
#kn-scene_385 .kn-back-link {
  display: none;
}
/*TIA Project Information Page*/
#kn-scene_386 .kn-back-link {
  display: none;
}
/*TIA Required Documents Page*/
#kn-scene_388 .kn-back-link {
  display: none;
}
/*Review TIA Application Page*/
#kn-scene_389 .kn-back-link {
  display: none;
}
/*TIA Application Confirmation Page*/
#kn-scene_392 .kn-back-link {
  display: none;
}
/*TIA Edit Information Page*/
#kn-scene_390 .kn-back-link {
  display: none;
}
/*TIA Edit Attachments Page*/
#kn-scene_391 .kn-back-link {
  display: none;
}

/******************************************************/
/** Remove Back Links for TIA Compliance Application **/
/******************************************************/
/*TIA Applicant Information Page*/
#kn-scene_381 .kn-back-link {
  display: none;
}
/*TIA Project Information Page*/
#kn-scene_387 .kn-back-link {
  display: none;
}
/*TIA Required Documents Page*/
#kn-scene_393 .kn-back-link {
  display: none;
}
/*Review TIA Application Page*/
#kn-scene_394 .kn-back-link {
  display: none;
}
/*TIA Application Confirmation Page*/
#kn-scene_397 .kn-back-link {
  display: none;
}
/*TIA Edit Information Page*/
#kn-scene_395 .kn-back-link {
  display: none;
}
/*TIA Edit Attachments Page*/
#kn-scene_396 .kn-back-link {
  display: none;
}

/***********************************************/
/** Remove Back Links for TIA NTA Application **/
/***********************************************/
/*TIA Applicant Information Page*/
#kn-scene_384 .kn-back-link {
  display: none;
}
/*TIA Project Information Page*/
#kn-scene_419 .kn-back-link {
  display: none;
}
/*TIA Required Documents Page*/
#kn-scene_420 .kn-back-link {
  display: none;
}
/*Review TIA Application Page*/
#kn-scene_421 .kn-back-link {
  display: none;
}
/*TIA Application Confirmation Page*/
#kn-scene_424 .kn-back-link {
  display: none;
}
/*TIA Edit Information Page*/
#kn-scene_422 .kn-back-link {
  display: none;
}
/*TIA Edit Attachments Page*/
#kn-scene_423 .kn-back-link {
  display: none;
}

/*****************************************************/
/*** Remove Back Links for specific Customer Pages ***/
/*****************************************************/
/*Access Code page*/
#kn-scene_480 .kn-back-link {
  display: none;
}
/*Manage TIA page*/
#kn-scene_481 .kn-back-link {
  display: none;
}
/*Add TIA Scope Submission Attachments page*/
#kn-scene_485 .kn-back-link {
  display: none;
}
/*Edit TIA Scope Submission Attachments page*/
#kn-scene_486 .kn-back-link {
  display: none;
}
/*Add TIA Submission Attachments page*/
#kn-scene_482 .kn-back-link {
  display: none;
}
/*Edit TIA Submission Attachments page*/
#kn-scene_483 .kn-back-link {
  display: none;
}


/***********************************/
/*** Styles all TIA Applications ***/
/***********************************/
/*TIA Compliance*/
/*div and !important tags allow us to override the min-width of Detail Labels for the Knack Standard Theme*/
#view_1193 div.kn-detail-label { background-color: transparent; min-width: 0% !important; } /*case details*/
#view_1194 div.kn-detail-label { background-color: transparent; min-width: 0% !important; } /*applicant details*/
#view_1206 div.kn-detail-label { background-color: transparent; min-width: 0% !important; } /*sealing engineer details*/
#view_1195 div.kn-detail-label { background-color: transparent; min-width: 0% !important; } /*project details*/
/*Max Width of Table*/
#view_1215 { max-width: 60%; } /*submission attachments*/
#view_1216 { max-width: 60%; } /*review submission attachments*/
#view_1215 { max-width: 80%; } /*edit attachments*/

/*NTA*/
/*div and !important tags allow us to override the min-width of Detail Labels for the Knack Standard Theme*/
#view_1278 div.kn-detail-label { background-color: transparent; min-width: 0% !important; } /*case details*/
#view_1279 div.kn-detail-label { background-color: transparent; min-width: 0% !important; } /*applicant details*/
#view_1291 div.kn-detail-label { background-color: transparent; min-width: 0% !important; } /*sealing engineer details*/
#view_1280 div.kn-detail-label { background-color: transparent; min-width: 0% !important; } /*project details*/
/*Max Width of Table*/
#view_1294 { max-width: 60%; } /*scope attachments*/
#view_1290 { max-width: 60%; } /*review scope attachments*/
#view_1286 { max-width: 80%; } /*edit attachments*/

/*Full TIA*/
/*div and !important tags allow us to override the min-width of Detail Labels for the Knack Standard Theme*/
#view_1169 div.kn-detail-label { background-color: transparent; min-width: 0% !important; } /*case details*/
#view_1170 div.kn-detail-label { background-color: transparent; min-width: 0% !important; } /*applicant details*/
#view_1182 div.kn-detail-label { background-color: transparent; min-width: 0% !important; } /*sealing engineer details*/
#view_1171 div.kn-detail-label { background-color: transparent; min-width: 0% !important; } /*project details*/
/*Max Width of Table*/
#view_1185 { max-width: 60%; } /*scope attachments*/
#view_1181 { max-width: 60%; } /*review scope attachments*/
#view_1177 { max-width: 80%; } /*edit attachments*/

/*************************************/
/*** Styles the Reviewer Dashboard ***/
/*************************************/
/*Min Width & Transparent for "Hello/Welcome" Details Label*/
#kn-scene_249 .kn-detail-label { background-color: transparent; min-width: 0% !important; }
#kn-scene_329 .kn-detail-label { background-color: transparent; min-width: 0% !important; }

/****************************************/
/*** Styles the Vision Team Dashboard ***/
/****************************************/
/*Min Width & Transparent for "Hello/Welcome" Details Label*/
#kn-scene_14 .kn-detail-label { background-color: transparent; min-width: 0% !important; }
#kn-scene_347 .kn-detail-label { background-color: transparent; min-width: 0% !important; }

/**********************************/
/*** Styles the Contact Us Page ***/
/**********************************/
/*div and !important tags allow us to override the min-width of Detail Labels for the Knack Standard Theme*/
#view_1667 div.kn-detail-label { background-color: transparent; min-width: 0% !important; }

/***********************************/
/*** TIA Menu Buttons Navigation ***/
/***********************************/
/* Hide custom Mobile Menu if on desktop */

@media (min-width: 799px) {
  .mobile-details-dropdown-menu {
    display: none;
  }
}

/* Hide custom Desktop menu if on mobile */
@media (max-width: 799px) {
  #tia-menu-list {
    display: none;
  }
}

/* Hide original Case Details Menu */
#view_163 {
  display: none;
}

/* Hide original Case Management Menu */
#view_511 {
  display: none;
}

/* Hide original Mitigation Menu */
#view_860 {
  display: none;
}

/* Hide original Scope Submission Menu */
#view_634 {
  display: none;
}

/* Hide original Submission Menu */
#view_450 {
  display: none;
}

/*list, list item, and button stylings*/
#tia-menu-list {
  border-bottom: 0 !important
}

#tia-menu-list li {
  margin-right: .5em;
  box-shadow: 0px 0px 0px 0px gray;
}

#tia-menu-list .kn-button a {
  color: #163f6e;
  font-size: 1.1em;
  border-bottom: 0;
  padding-top:3px;
}

.tia-dropdown-menu-list .kn-button {
  border-radius: 0;
}

.tia-dropdown-menu-list li {
  border: 0;
  margin-right: 0 !important;
} 

.tia-dropdown-menu-list li:hover {
  background-color: #ebebeb;
}

/*Mobile list, list item, and button stylings*/
.mobile-details-dropdown-menu ul {
  margin-left: .25em;
}

#tia-mobile-menu-list {
  list-style-type: none;
  margin: 0;
} 

#tia-mobile-menu-list ul {
  list-style-type: none;
}

.tia-mobile-dropdown-menu span {
  margin-top: .25em;
}

.mobile-dropdown-button {
  display: flex;
}

.mobile-dropdown-button i {
  display: none;
}

.mobile-dropdown-button.show-icon i {
  display: inherit;
  width: 16px;
}

.mobile-dropdown-button:not(.show-icon)::before {
  content: "\203A";
  font-size: 18px;
  font-weight: 800;
  width: 16px;
  line-height: 16px;
}

.tia-dropdown-menu-list {
  margin-top: 1em;
  display: none;
}

.tia-dropdown-menu-list.active {
  display: inherit;
}

.tia-button {
  background-color: rgba(0,0,0,.08);
  color: #163f6e;
  font-size: 1.1em;
  padding: .4em .8em;
  height: 32px;
  border-radius: .35em
}

.tia-button a {
  padding: 0.5em;
  color: #163f6e;
  text-decoration: none;
  display: block;
}

.tia-button .icon {
  vertical-align: baseline;
}

/**********************************/
/********* Report Styling *********/
/**********************************/
/*Prevents Report Filters from increasing report container size and pushing 2nd report down*/
/*Case Reports*/
#view_679 .kn-records-nav { max-width: 630px; }
#view_680 .kn-records-nav { max-width: 630px; }
#view_681 .kn-records-nav { max-width: 630px; }
#view_931 .kn-records-nav { max-width: 630px; }
#view_932 .kn-records-nav { max-width: 630px; }
/*Submission Reports*/
#view_682 .kn-records-nav { max-width: 630px; }
#view_683 .kn-records-nav { max-width: 630px; }
#view_757 .kn-records-nav { max-width: 630px; }
#view_758 .kn-records-nav { max-width: 630px; }
/*Mitigation Reports*/
#view_735 .kn-records-nav { max-width: 630px; }
#view_736 .kn-records-nav { max-width: 630px; }

/*Overrides default Knack blue color with default HighCharts colors for Bar Charts*/
/*TIA Cases Reporting */
/*Current Year*/
/*Total Cases by Type*/
#kn-report-view_679-1 div.highcharts-container svg g.highcharts-series-group g.highcharts-series rect:nth-child(1){fill: #7cb5ec;}
#kn-report-view_679-1 div.highcharts-container svg g.highcharts-series-group g.highcharts-series rect:nth-child(2){fill: #434348;}
#kn-report-view_679-1 div.highcharts-container svg g.highcharts-series-group g.highcharts-series rect:nth-child(3){fill: #90ed7d;}
#kn-report-view_679-1 div.highcharts-container svg g.highcharts-series-group g.highcharts-series rect:nth-child(4){fill: #f7a35c;}
#kn-report-view_679-1 div.highcharts-container svg g.highcharts-series-group g.highcharts-series rect:nth-child(5){fill: #8085e9;}
#kn-report-view_679-1 div.highcharts-container svg g.highcharts-series-group g.highcharts-series rect:nth-child(6){fill: #f15c80;}

/*Total Cases by Status*/
#kn-report-view_680-1 div.highcharts-container svg g.highcharts-series-group g.highcharts-series rect:nth-child(1){fill: #7cb5ec;}
#kn-report-view_680-1 div.highcharts-container svg g.highcharts-series-group g.highcharts-series rect:nth-child(2){fill: #434348;}
#kn-report-view_680-1 div.highcharts-container svg g.highcharts-series-group g.highcharts-series rect:nth-child(3){fill: #90ed7d;}
#kn-report-view_680-1 div.highcharts-container svg g.highcharts-series-group g.highcharts-series rect:nth-child(4){fill: #f7a35c;}
#kn-report-view_680-1 div.highcharts-container svg g.highcharts-series-group g.highcharts-series rect:nth-child(5){fill: #8085e9;}
#kn-report-view_680-1 div.highcharts-container svg g.highcharts-series-group g.highcharts-series rect:nth-child(6){fill: #f15c80;}
#kn-report-view_680-1 div.highcharts-container svg g.highcharts-series-group g.highcharts-series rect:nth-child(7){fill: #e4d354;}

/*Total Cases by Review Area*/
#kn-report-view_681-1 div.highcharts-container svg g.highcharts-series-group g.highcharts-series rect:nth-child(1){fill: #7cb5ec;}
#kn-report-view_681-1 div.highcharts-container svg g.highcharts-series-group g.highcharts-series rect:nth-child(2){fill: #434348;}
#kn-report-view_681-1 div.highcharts-container svg g.highcharts-series-group g.highcharts-series rect:nth-child(3){fill: #90ed7d;}

/*Total Cases by Council District*/
#kn-report-view_931-1 div.highcharts-container svg g.highcharts-series-group g.highcharts-series rect:nth-child(10n){fill: #91e8e1;}
#kn-report-view_931-1 div.highcharts-container svg g.highcharts-series-group g.highcharts-series rect:nth-child(10n+1){fill: #7cb5ec;}
#kn-report-view_931-1 div.highcharts-container svg g.highcharts-series-group g.highcharts-series rect:nth-child(10n+2){fill: #434348;}
#kn-report-view_931-1 div.highcharts-container svg g.highcharts-series-group g.highcharts-series rect:nth-child(10n+3){fill: #90ed7d;}
#kn-report-view_931-1 div.highcharts-container svg g.highcharts-series-group g.highcharts-series rect:nth-child(10n+4){fill: #f7a35c;}
#kn-report-view_931-1 div.highcharts-container svg g.highcharts-series-group g.highcharts-series rect:nth-child(10n+5){fill: #8085e9;}
#kn-report-view_931-1 div.highcharts-container svg g.highcharts-series-group g.highcharts-series rect:nth-child(10n+6){fill: #f15c80;}
#kn-report-view_931-1 div.highcharts-container svg g.highcharts-series-group g.highcharts-series rect:nth-child(10n+7){fill: #e4d354;}
#kn-report-view_931-1 div.highcharts-container svg g.highcharts-series-group g.highcharts-series rect:nth-child(10n+8){fill: #2b908f;}
#kn-report-view_931-1 div.highcharts-container svg g.highcharts-series-group g.highcharts-series rect:nth-child(10n+9){fill: #f45b5b;}

/*Total Cases by TIA Need*/
#kn-report-view_932-1 div.highcharts-container svg g.highcharts-series-group g.highcharts-series rect:nth-child(1){fill: #7cb5ec;}
#kn-report-view_932-1 div.highcharts-container svg g.highcharts-series-group g.highcharts-series rect:nth-child(2){fill: #434348;}
#kn-report-view_932-1 div.highcharts-container svg g.highcharts-series-group g.highcharts-series rect:nth-child(3){fill: #90ed7d;}

/*TIA Mitigations Reporting */
/*Current Year*/
/*Total Mitigations by Type*/
#kn-report-view_735-1 div.highcharts-container svg g.highcharts-series-group g.highcharts-series rect:nth-child(1){fill: #7cb5ec;}
#kn-report-view_735-1 div.highcharts-container svg g.highcharts-series-group g.highcharts-series rect:nth-child(2){fill: #434348;}

/*Total Pro Rata $ by Mitigation Type*/
#kn-report-view_736-1 div.highcharts-container svg g.highcharts-series-group g.highcharts-series rect:nth-child(1){fill: #7cb5ec;}
#kn-report-view_736-1 div.highcharts-container svg g.highcharts-series-group g.highcharts-series rect:nth-child(2){fill: #434348;}
