/****************************************/
/************* Icon Effects *************/
/****************************************/
.fa {
  vertical-align: baseline;
}

.fa-bot {
  vertical-align: text-bottom;
}

.fa-top {
  vertical-align: text-top;
}

/****************************************/
/************ Button Effects ************/
/****************************************/
.disabled {
  cursor: not-allowed;
}

.centered-text {
  text-align: center;
}

.delete {
  border: solid black 0.2em !important;
}

.delete:before {
  background-color: black !important;
  width: 80% !important;
  left: 38% !important;
}

.delete:after {
  background-color: black !important;
  width: 80% !important;
  left: 38% !important;
}

/***************************************/
/************* Big Buttons *************/
/***************************************/
.big-button-container {
  padding: 10px 10px;
  margin: 20px;
  border-radius: 2px;
  box-shadow: 0px 1px 2px 0px gray;
  font-size: 2.5em;
  max-width: 12em;
  display: block;
}

.big-button-container:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.big-button-disabled {
  background-color: #f7f7f7;
  opacity: 0.6;
}

a.big-button-container {
  text-decoration: none;
}

/***************************************/
/************ Small Buttons ************/
/***************************************/
.small-button-container {
  padding: 5px 5px;
  margin: 20px;
  border-radius: 2px;
  box-shadow: 0px 1px 2px 0px gray;
  font-size: 1em;
  max-width: 15em;
  background-color: #babbbc;
  color: white;
}

.small-button-container:hover {
  background-color: #4c4c4c;
  cursor: pointer;
}

.small-button-disabled {
  background-color: #f7f7f7;
  opacity: 0.6;
}

a.small-button-container {
  text-decoration: none;
}

#return-button {
  padding: 5px 10px;
  cursor: pointer;
  box-shadow: 0px 2px 4px 0px gray;
}

/***************************************/
/******** Block/Trigger Buttons ********/
/***************************************/
.block-container {
  width: 25%;
  border-style: solid;
  border-width: 2px;
  border-color: #4cae49;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px gray;
  background-color: #4cae49;
  color: white;
  padding: 10px 10px;
  font-size: 18px;
  text-align: center;
  display: inline-block;
}

.block-container:hover {
  cursor: pointer;
  opacity: 0.8;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.block-container-disabled {
  width: 25%;
  border-color: transparent;
  border-radius: 4px;
  background-color: #cbcbcb;
  color: white;
  padding: 10px 10px;
  font-size: 18px;
  text-align: center;
  opacity: 0.6;
  display: inline-block;
  outline-color: transparent;
}

/****************************************/
/****** Tiny Table Trigger Buttons ******/
/****************************************/
.tiny-button-container {
  padding: 2px 8px;
  border-width: 1px;
  border-color: #4cae49;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px gray;
  background-color: #4cae49;
  color: white;
  text-align: center;
}

.tiny-button-container:hover {
  cursor: pointer;
  opacity: 0.8;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

a.tiny-button-container {
  text-decoration: none;
}

/****************************************/
/******* Tiny Table Trigger Icons *******/
/****************************************/
.tiny-icon-button {
  padding: 0px 4px;
  border-width: 1px;
  border-color: #367db7;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px gray;
  background-color: transparent;
  color: white;
}

.tiny-icon-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

/****************************************/
/******** Style Links as Buttons ********/
/****************************************/
/*use <a class="link-button" */
a.link-button:link,
a.link-button:visited {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.link-button:hover,
a.link-button:active {
  background-color: #367db7;
  color: white;
}

/*****************************************/
/** Style Links with Underline on Hover **/
/*****************************************/
/*use <a class="form-link" */
a.form-link:link {
  color: #367db7;
  text-decoration: none;
}
a.form-link:visited {
  color: #367db7;
  text-decoration: none;
}
a.form-link:hover {
  text-decoration: underline;
}

/*****************************************/
/****** Style Back Links as Buttons ******/
/*****************************************/
/*TIA Request Details Page*/
#kn-scene_49 .kn-back-link {
  padding: 5px 10px;
  border-width: 1px;
  border-color: black;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px gray;
  font-size: 1em;
  background-color: transparent;
  color: #367db7;
  text-align: center;
  display: inline-block;
}
#kn-scene_49 .kn-back-link:hover {
  opacity: 0.8;
  cursor: pointer;
}

/*Mitigation Page*/
#kn-scene_105 .kn-back-link {
  padding: 5px 10px;
  border-width: 1px;
  border-color: black;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px gray;
  font-size: 1em;
  background-color: transparent;
  color: #367db7;
  text-align: center;
  display: inline-block;
}
#kn-scene_105 .kn-back-link:hover {
  opacity: 0.8;
  cursor: pointer;
}

/*Case Log Page*/
#kn-scene_196 .kn-back-link {
  padding: 5px 10px;
  border-width: 1px;
  border-color: black;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px gray;
  font-size: 1em;
  background-color: transparent;
  color: #367db7;
  text-align: center;
  display: inline-block;
}
#kn-scene_196 .kn-back-link:hover {
  opacity: 0.8;
  cursor: pointer;
}

/*Case Management Page*/
#kn-scene_186 .kn-back-link {
  padding: 5px 10px;
  border-width: 1px;
  border-color: black;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px gray;
  font-size: 1em;
  background-color: transparent;
  color: #367db7;
  text-align: center;
  display: inline-block;
}
#kn-scene_186 .kn-back-link:hover {
  opacity: 0.8;
  cursor: pointer;
}

/*Submission Details Page*/
#kn-scene_187 .kn-back-link {
  padding: 5px 10px;
  border-width: 1px;
  border-color: black;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px gray;
  font-size: 1em;
  background-color: transparent;
  color: #367db7;
  text-align: center;
  display: inline-block;
}
#kn-scene_187 .kn-back-link:hover {
  opacity: 0.8;
  cursor: pointer;
}

/*Scope Submission Details Page*/
#kn-scene_234 .kn-back-link {
  padding: 5px 10px;
  border-width: 1px;
  border-color: black;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px gray;
  font-size: 1em;
  background-color: transparent;
  color: #367db7;
  text-align: center;
  display: inline-block;
}
#kn-scene_234 .kn-back-link:hover {
  opacity: 0.8;
  cursor: pointer;
}

/*Customer Submission Details Page*/
#kn-scene_194 .kn-back-link {
  padding: 5px 10px;
  border-width: 1px;
  border-color: black;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px gray;
  font-size: 1em;
  background-color: transparent;
  color: #367db7;
  text-align: center;
  display: inline-block;
}
#kn-scene_194 .kn-back-link:hover {
  opacity: 0.8;
  cursor: pointer;
}

/*Customer Scope Submission Details Page*/
#kn-scene_214 .kn-back-link {
  padding: 5px 10px;
  border-width: 1px;
  border-color: black;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px gray;
  font-size: 1em;
  background-color: transparent;
  color: #367db7;
  text-align: center;
  display: inline-block;
}
#kn-scene_214 .kn-back-link:hover {
  opacity: 0.8;
  cursor: pointer;
}

/*Memo Builder Page*/
#kn-scene_248 .kn-back-link {
  padding: 5px 10px;
  border-width: 1px;
  border-color: black;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px gray;
  font-size: 1em;
  background-color: transparent;
  color: #367db7;
  text-align: center;
  display: inline-block;
}
#kn-scene_248 .kn-back-link:hover {
  opacity: 0.8;
  cursor: pointer;
}

/*Memo Details Page*/
#kn-scene_254 .kn-back-link {
  padding: 5px 10px;
  border-width: 1px;
  border-color: black;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px gray;
  font-size: 1em;
  background-color: transparent;
  color: #367db7;
  text-align: center;
  display: inline-block;
}
#kn-scene_254 .kn-back-link:hover {
  opacity: 0.8;
  cursor: pointer;
}

/*Generated Memo Page*/
#kn-scene_255 .kn-back-link {
  padding: 5px 10px;
  border-width: 1px;
  border-color: black;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px gray;
  font-size: 1em;
  background-color: transparent;
  color: #367db7;
  text-align: center;
  display: inline-block;
}
#kn-scene_255 .kn-back-link:hover {
  opacity: 0.8;
  cursor: pointer;
}

/*******************************************/
/** Remove Table Header for Announcements **/
/*******************************************/
#view_688 .kn-table th {
  display: none;
}

/***************************************/
/** Remove Back Links for TIA Request **/
/***************************************/
#kn-scene_166 .kn-back-link {
  display: none;
}
#kn-scene_167 .kn-back-link {
  display: none;
}
#kn-scene_176 .kn-back-link {
  display: none;
}
#kn-scene_177 .kn-back-link {
  display: none;
}
#kn-scene_178 .kn-back-link {
  display: none;
}
#kn-scene_179 .kn-back-link {
  display: none;
}
#kn-scene_180 .kn-back-link {
  display: none;
}
#kn-scene_181 .kn-back-link {
  display: none;
}

/*******************************************/
/** Remove Back Links for TIA Case Status **/
/*******************************************/
#kn-scene_58 .kn-back-link {
  display: none;
}
#kn-scene_213 .kn-back-link {
  display: none;
}
#kn-scene_228 .kn-back-link {
  display: none;
}
#kn-scene_230 .kn-back-link {
  display: none;
}
#kn-scene_231 .kn-back-link {
  display: none;
}

/*************************************************/
/*** Remove Back Links for New/Edit Memo Pages ***/
/*************************************************/
#kn-scene_251 .kn-back-link {
  display: none;
}
#kn-scene_252 .kn-back-link {
  display: none;
}
#kn-scene_253 .kn-back-link {
  display: none;
}

/******************************************/
/*** Styles the TIA Request application ***/
/******************************************/
/*PAGE 1 - Requester Information*/
#view_393 > form > ul:nth-child(n) > li {
  border-left: solid 4px #367db7;
  border-right: solid 4px #367db7;
  border-top: solid 4px #367db7;
  border-bottom: solid 4px #367db7;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
  max-width: 60%;
}
#view_393 > form > ul:nth-child(2n) > li {
  border: none;
}

/*PAGE 2 - Project Information*/
#view_395 > form > ul:nth-child(n) > li {
  border-left: solid 4px #367db7;
  border-right: solid 4px #367db7;
  border-top: solid 4px #367db7;
  border-bottom: solid 4px #367db7;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
  max-width: 60%;
}
#view_395 > form > ul:nth-child(2n) > li {
  border: none;
}

#view_396 {
  max-width: 60%;
}
#view_396 .kn-table {
  border: solid 2px #367db7;
}

#view_397 > form > ul:nth-child(n) > li {
  border-left: solid 4px #367db7;
  border-right: solid 4px #367db7;
  border-top: solid 4px #367db7;
  border-bottom: solid 4px #367db7;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
  max-width: 60%;
}
#view_397 > form > ul:nth-child(2n) > li {
  border: none;
}

#kn-input-field_174 /*Case Type field*/
  .kn-radio {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.control {
  margin-right: 2em;
}

/*PAGE 3 - Required Documents*/
#view_614 > form > ul:nth-child(n) > li {
  border-left: solid 4px #367db7;
  border-right: solid 4px #367db7;
  border-top: solid 4px #367db7;
  border-bottom: solid 4px #367db7;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
  max-width: 60%;
}
#view_614 > form > ul:nth-child(2n) > li {
  border: none;
}

#view_419 {
  max-width: 60%;
}
#view_419 .kn-table {
  border: solid 2px #367db7;
}

#view_420 > form > ul:nth-child(n) > li {
  border-left: solid 4px #367db7;
  border-right: solid 4px #367db7;
  border-top: solid 4px #367db7;
  border-bottom: solid 4px #367db7;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
  max-width: 60%;
}
#view_420 > form > ul:nth-child(2n) > li {
  border: none;
}

/*PAGE 4 - Review Request*/
/*div and !important tags allow us to override the min-width of Detail Labels for the Knack Standard Theme*/
#view_426 div.kn-detail-label {
  background-color: transparent;
  min-width: 0% !important;
}
#view_425 div.kn-detail-label {
  background-color: transparent;
  min-width: 0% !important;
}
#view_427 div.kn-detail-label {
  background-color: transparent;
  min-width: 0% !important;
}

#view_428 {
  max-width: 60%;
}
#view_428 .kn-table {
  border: solid 2px #367db7;
}

#view_618 {
  max-width: 60%;
}
#view_618 .kn-table {
  border: solid 2px #367db7;
}

#view_424 > form > ul:nth-child(n) > li {
  border-left: solid 4px #367db7;
  border-right: solid 4px #367db7;
  border-top: solid 4px #367db7;
  border-bottom: solid 4px #367db7;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
  max-width: 60%;
}
#view_424 > form > ul:nth-child(2n) > li {
  border: none;
}

/****************************************/
/*** Styles the Edit TIA Request page ***/
/****************************************/
#view_431 > form > ul:nth-child(n) > li {
  border-left: solid 4px #367db7;
  border-right: solid 4px #367db7;
  border-top: solid 4px #367db7;
  border-bottom: solid 4px #367db7;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
  max-width: 60%;
}
#view_431 > form > ul:nth-child(2n) > li {
  border: none;
}

/***************************************************/
/*** Styles the Edit TIA Request Location page ***/
/***************************************************/
#view_437 > form > ul:nth-child(n) > li {
  border-left: solid 4px #367db7;
  border-right: solid 4px #367db7;
  border-top: solid 4px #367db7;
  border-bottom: solid 4px #367db7;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
  max-width: 60%;
}
#view_437 > form > ul:nth-child(2n) > li {
  border: none;
}

#view_434 {
  max-width: 80%;
}
#view_434 .kn-table {
  border: solid 2px #367db7;
}

/***************************************************/
/*** Styles the Edit TIA Request Attachment page ***/
/***************************************************/
#view_620 > form > ul:nth-child(n) > li {
  border-left: solid 4px #367db7;
  border-right: solid 4px #367db7;
  border-top: solid 4px #367db7;
  border-bottom: solid 4px #367db7;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
  max-width: 60%;
}
#view_620 > form > ul:nth-child(2n) > li {
  border: none;
}

#view_619 {
  max-width: 80%;
}
#view_619 .kn-table {
  border: solid 2px #367db7;
}

/*******************************************/
/*** Styles the TIA Request Details page ***/
/*******************************************/
#kn-scene_49 .kn-detail-label {
  background-color: transparent;
  min-width: 0% !important;
}

/******************************************/
/*** Styles the TIA New Submission page ***/
/******************************************/
#view_512 {
  max-width: 75%;
}
#view_512 .kn-table {
  border: solid 2px #367db7;
}

#view_625 {
  max-width: 75%;
}
#view_625 .kn-table {
  border: solid 2px #367db7;
}

#view_518 > form > ul:nth-child(n) > li {
  border-left: solid 4px #367db7;
  border-right: solid 4px #367db7;
  border-top: solid 4px #367db7;
  border-bottom: solid 4px #367db7;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
  max-width: 60%;
}
#view_518 > form > ul:nth-child(2n) > li {
  border: none;
}

#view_513 {
  max-width: 75%;
}
#view_513 .kn-table {
  border: solid 2px #367db7;
}

#view_623 {
  max-width: 75%;
}
#view_623 .kn-table {
  border: solid 2px #367db7;
}

#view_519 > form > ul:nth-child(n) > li {
  border-left: solid 4px #367db7;
  border-right: solid 4px #367db7;
  border-top: solid 4px #367db7;
  border-bottom: solid 4px #367db7;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
  max-width: 60%;
}
#view_519 > form > ul:nth-child(2n) > li {
  border: none;
}

#view_520 > form > ul:nth-child(n) > li {
  border-left: solid 4px #367db7;
  border-right: solid 4px #367db7;
  border-top: solid 4px #367db7;
  border-bottom: solid 4px #367db7;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
  max-width: 60%;
}
#view_520 > form > ul:nth-child(2n) > li {
  border: none;
}

/*************************************************************/
/*** Styles the TIA New Submission Comment/Attachment page ***/
/*************************************************************/
#view_586 {
  max-width: 75%;
}
#view_586 .kn-table {
  border: solid 2px #367db7;
}

#view_631 {
  max-width: 75%;
}
#view_631 .kn-table {
  border: solid 2px #367db7;
}

#view_651 > form > ul:nth-child(n) > li {
  border-left: solid 4px #367db7;
  border-right: solid 4px #367db7;
  border-top: solid 4px #367db7;
  border-bottom: solid 4px #367db7;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
  max-width: 60%;
}
#view_651 > form > ul:nth-child(2n) > li {
  border: none;
}

#view_584 {
  max-width: 75%;
}
#view_584 .kn-table {
  border: solid 2px #367db7;
}

#view_632 {
  max-width: 75%;
}
#view_632 .kn-table {
  border: solid 2px #367db7;
}

#view_652 > form > ul:nth-child(n) > li {
  border-left: solid 4px #367db7;
  border-right: solid 4px #367db7;
  border-top: solid 4px #367db7;
  border-bottom: solid 4px #367db7;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
  max-width: 60%;
}
#view_652 > form > ul:nth-child(2n) > li {
  border: none;
}

#view_472 > form > ul:nth-child(n) > li {
  border-left: solid 4px #367db7;
  border-right: solid 4px #367db7;
  border-top: solid 4px #367db7;
  border-bottom: solid 4px #367db7;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
  max-width: 60%;
}
#view_472 > form > ul:nth-child(2n) > li {
  border: none;
}

/************************************************/
/*** Styles the TIA New Scope Submission page ***/
/************************************************/
#view_575 {
  max-width: 75%;
}
#view_575 .kn-table {
  border: solid 2px #367db7;
}

#view_626 {
  max-width: 75%;
}
#view_626 .kn-table {
  border: solid 2px #367db7;
}

#view_579 > form > ul:nth-child(n) > li {
  border-left: solid 4px #367db7;
  border-right: solid 4px #367db7;
  border-top: solid 4px #367db7;
  border-bottom: solid 4px #367db7;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
  max-width: 60%;
}
#view_579 > form > ul:nth-child(2n) > li {
  border: none;
}

#view_576 {
  max-width: 75%;
}
#view_576 .kn-table {
  border: solid 2px #367db7;
}

#view_627 {
  max-width: 75%;
}
#view_627 .kn-table {
  border: solid 2px #367db7;
}

#view_580 > form > ul:nth-child(n) > li {
  border-left: solid 4px #367db7;
  border-right: solid 4px #367db7;
  border-top: solid 4px #367db7;
  border-bottom: solid 4px #367db7;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
  max-width: 60%;
}
#view_580 > form > ul:nth-child(2n) > li {
  border: none;
}

#view_581 > form > ul:nth-child(n) > li {
  border-left: solid 4px #367db7;
  border-right: solid 4px #367db7;
  border-top: solid 4px #367db7;
  border-bottom: solid 4px #367db7;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
  max-width: 60%;
}
#view_581 > form > ul:nth-child(2n) > li {
  border: none;
}

/*******************************************************************/
/*** Styles the TIA New Scope Submission Comment/Attachment page ***/
/*******************************************************************/
#view_640 {
  max-width: 75%;
}
#view_640 .kn-table {
  border: solid 2px #367db7;
}

#view_641 > form > ul:nth-child(n) > li {
  border-left: solid 4px #367db7;
  border-right: solid 4px #367db7;
  border-top: solid 4px #367db7;
  border-bottom: solid 4px #367db7;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
  max-width: 60%;
}
#view_641 > form > ul:nth-child(2n) > li {
  border: none;
}

#view_642 {
  max-width: 75%;
}
#view_642 .kn-table {
  border: solid 2px #367db7;
}

#view_643 > form > ul:nth-child(n) > li {
  border-left: solid 4px #367db7;
  border-right: solid 4px #367db7;
  border-top: solid 4px #367db7;
  border-bottom: solid 4px #367db7;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
  max-width: 60%;
}
#view_643 > form > ul:nth-child(2n) > li {
  border: none;
}

#view_645 > form > ul:nth-child(n) > li {
  border-left: solid 4px #367db7;
  border-right: solid 4px #367db7;
  border-top: solid 4px #367db7;
  border-bottom: solid 4px #367db7;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
  max-width: 60%;
}
#view_645 > form > ul:nth-child(2n) > li {
  border: none;
}

/******************************************/
/*** Styles the Add TIA Attachment page ***/
/******************************************/
#view_172 > form > ul:nth-child(n) > li {
  border-left: solid 4px #367db7;
  border-right: solid 4px #367db7;
  border-top: solid 4px #367db7;
  border-bottom: solid 4px #367db7;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
  max-width: 60%;
}
#view_172 > form > ul:nth-child(2n) > li {
  border: none;
}

/*******************************************/
/*** Styles the Edit TIA Attachment page ***/
/*******************************************/
#view_383 > form > ul:nth-child(n) > li {
  border-left: solid 4px #367db7;
  border-right: solid 4px #367db7;
  border-top: solid 4px #367db7;
  border-bottom: solid 4px #367db7;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
  max-width: 60%;
}
#view_383 > form > ul:nth-child(2n) > li {
  border: none;
}

/******************************************/
/**** Styles the Add TIA Location page ****/
/******************************************/
#view_345 > form > ul:nth-child(n) > li {
  border-left: solid 4px #367db7;
  border-right: solid 4px #367db7;
  border-top: solid 4px #367db7;
  border-bottom: solid 4px #367db7;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
  max-width: 60%;
}
#view_345 > form > ul:nth-child(2n) > li {
  border: none;
}

/*********************************************/
/*** Styles the Add TIA Communication page ***/
/*********************************************/
#view_462 > form > ul:nth-child(n) > li {
  border-left: solid 4px #367db7;
  border-right: solid 4px #367db7;
  border-top: solid 4px #367db7;
  border-bottom: solid 4px #367db7;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
  max-width: 75%;
}
#view_462 > form > ul:nth-child(2n) > li {
  border: none;
}

/**********************************************/
/*** Styles the TIA Submission Details page ***/
/**********************************************/
#kn-scene_187 .kn-detail-label {
  background-color: transparent;
  min-width: 0% !important;
}

/****************************************************/
/*** Styles the TIA Scope Submission Details page ***/
/****************************************************/
#kn-scene_234 .kn-detail-label {
  background-color: transparent;
  min-width: 0% !important;
}

/*******************************************/
/***** Styles the TIA Mitigations page *****/
/*******************************************/
#kn-scene_105 .kn-detail-label {
  background-color: transparent;
  min-width: 0% !important;
}

#view_270 {
  max-width: 75%;
}
#view_270 .kn-table {
  border: solid 2px #367db7;
}

#view_322 {
  max-width: 100%;
}
#view_322 .kn-table {
  border: solid 2px #367db7;
}

#view_321 {
  max-width: 100%;
}
#view_321 .kn-table {
  border: solid 2px #367db7;
}

/*******************************************/
/*** Styles the Add TIA Mitigations page ***/
/*******************************************/
#view_628 > form > ul:nth-child(n) > li {
  border-left: solid 4px #367db7;
  border-right: solid 4px #367db7;
  border-top: solid 4px #367db7;
  border-bottom: solid 4px #367db7;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
  max-width: 75%;
}
#view_628 > form > ul:nth-child(2n) > li {
  border: none;
}

/****************************************/
/*** Styles the Location Details page ***/
/****************************************/
/*div and !important tags allow us to override the min-width of Detail Labels for the Knack Standard Theme*/
#view_271 div.kn-detail-label {
  background-color: transparent;
  min-width: 0% !important;
}

/********************************************/
/*** Styles the Customer TIA Details page ***/
/********************************************/
#kn-scene_58 .kn-detail-label {
  background-color: transparent;
  min-width: 0% !important;
}

/**********************************************************/
/*** Styles the Customer New Submission Attachment page ***/
/**********************************************************/
#view_598 > form > ul:nth-child(n) > li {
  border-left: solid 4px #367db7;
  border-right: solid 4px #367db7;
  border-top: solid 4px #367db7;
  border-bottom: solid 4px #367db7;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
  max-width: 60%;
}
#view_598 > form > ul:nth-child(2n) > li {
  border: none;
}

#view_608 {
  max-width: 80%;
}
#view_608 .kn-table {
  border: solid 2px #367db7;
}

#view_596 > form > ul:nth-child(n) > li {
  border-left: solid 4px #367db7;
  border-right: solid 4px #367db7;
  border-top: solid 4px #367db7;
  border-bottom: solid 4px #367db7;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
  max-width: 60%;
}
#view_596 > form > ul:nth-child(2n) > li {
  border: none;
}

/*****************************************************************/
/*** Styles the Customer New Scope Submission Attachment page ***/
/*****************************************************************/
#view_534 > form > ul:nth-child(n) > li {
  border-left: solid 4px #367db7;
  border-right: solid 4px #367db7;
  border-top: solid 4px #367db7;
  border-bottom: solid 4px #367db7;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
  max-width: 60%;
}
#view_534 > form > ul:nth-child(2n) > li {
  border: none;
}

#view_532 {
  max-width: 80%;
}
#view_532 .kn-table {
  border: solid 2px #367db7;
}

#view_533 > form > ul:nth-child(n) > li {
  border-left: solid 4px #367db7;
  border-right: solid 4px #367db7;
  border-top: solid 4px #367db7;
  border-bottom: solid 4px #367db7;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
  max-width: 60%;
}
#view_533 > form > ul:nth-child(2n) > li {
  border: none;
}

/***************************************************/
/*** Styles the Customer Submission Details page ***/
/***************************************************/
#kn-scene_194 .kn-detail-label {
  background-color: transparent;
  min-width: 0% !important;
}

#view_460 {
  max-width: 80%;
}
#view_460 .kn-table {
  border: solid 2px #367db7;
}

/*********************************************************/
/*** Styles the Customer Scope Submission Details page ***/
/*********************************************************/
#kn-scene_214 .kn-detail-label {
  background-color: transparent;
  min-width: 0% !important;
}

#view_606 {
  max-width: 80%;
}
#view_606 .kn-table {
  border: solid 2px #367db7;
}

/***********************************************************/
/*** Styles the Customer Edit Submission Attachment page ***/
/***********************************************************/
#view_610 > form > ul:nth-child(n) > li {
  border-left: solid 4px #367db7;
  border-right: solid 4px #367db7;
  border-top: solid 4px #367db7;
  border-bottom: solid 4px #367db7;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
  max-width: 60%;
}
#view_610 > form > ul:nth-child(2n) > li {
  border: none;
}

/******************************************************************/
/*** Styles the Customer Edit Scope Submission Attachment page ***/
/*****************************************************************/
#view_611 > form > ul:nth-child(n) > li {
  border-left: solid 4px #367db7;
  border-right: solid 4px #367db7;
  border-top: solid 4px #367db7;
  border-bottom: solid 4px #367db7;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
  max-width: 60%;
}
#view_611 > form > ul:nth-child(2n) > li {
  border: none;
}

/******************************************/
/*** Styles the Reviewer Dashboard page ***/
/******************************************/
#kn-scene_249 .kn-detail-label {
  background-color: transparent;
  min-width: 0% !important;
}

/******************************************/
/****** Styles the Memo Details page ******/
/******************************************/
#kn-scene_254 .kn-detail-label {
  background-color: transparent;
  min-width: 0% !important;
}

/********************************************/
/****** Styles the Generated Memo page ******/
/********************************************/
#view_698 .kn-detail-label {
  background-color: transparent;
}
#view_701 .kn-detail-label {
  background-color: transparent;
  min-width: 0% !important;
}
#view_704 .kn-detail-label {
  background-color: transparent;
  min-width: 10% !important;
}
#view_705 .kn-detail-label {
  background-color: transparent;
  min-width: 0% !important;
}
#view_706 .kn-detail-label {
  background-color: transparent;
  min-width: 10% !important;
}
#view_707 .kn-detail-label {
  background-color: transparent;
  min-width: 0% !important;
}
#view_710 .kn-detail-label {
  background-color: transparent;
  min-width: 0% !important;
}
#view_711 .kn-detail-label {
  background-color: transparent;
  min-width: 0% !important;
}
#view_712 .kn-detail-label {
  background-color: transparent;
  min-width: 0% !important;
}

/******************************************/
/*** Styles Custom TIA Request Dropdown ***/
/******************************************/


/* hide dropdown if on mobile view */
@media (max-width: 800px) {
  #tia-menu-list {
    display: none;
  }
}

/* hide buttons if not on mobile view */
@media (min-width: 800px) {
  #view_163 {
    display: none;
  }
}

#tia-menu-list {
  border-bottom: 0 !important
}

#tia-menu-list li {
  margin-right: .5em;
}

#tia-menu-list .kn-button a {
  color: #163f6e;
  font-size: 1.1em;
  border-bottom: 0;
  padding-top:3px;
}

.tia-dropdown-menu-list .kn-button {
  border-radius: 0;
}

.tia-dropdown-menu-list li {
  border: 0;
  margin-right: 0 !important;
} 

.tia-dropdown-menu-list li:hover {
  background-color: rgb(235,235,235);
}
