/***************************************/
/************* Big Buttons *************/
/***************************************/
.big-button-container {
  padding: 20px 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px gray;
  font-size: 2.5em;
  max-width: 15em;
  display: block;
}

.big-button-container:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.big-button-disabled {
  background-color: #f7f7f7;
  opacity: 0.6;
  pointer-events: none;
}

a.big-button-container {
  text-decoration: none;
}
/***************************************/
/************ Small Buttons ************/
/***************************************/
.small-button-container {
  padding: 5px 10px;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px gray;
  font-size: 1em;
  max-width: 15em;
  background-color: #babbbc;
  color: white;
}

.small-button-container:hover {
  background-color: #4c4c4c;
  cursor: pointer;
}

.small-button-disabled {
  background-color: #f7f7f7;
  opacity: 0.6;
}

a.small-button {
  text-decoration: none;
}

/****************************************/
/************ Button Effects ************/
/****************************************/
.disabled { cursor: not-allowed; }

/***************************************/
/********* FA Icon Positioning *********/
/***************************************/
.fa { vertical-align: baseline; }

/*********************************************/
/******** Header Banner Image Styling ********/
/*********************************************/

/* Base styles for the image */
img.knHeader__logo-image {
  width: 100% !important;
  height: auto !important;
  max-width: 100% !important;
  object-fit: contain !important;
}

/* Base styles for the parent container */
.knHeader__logo.knHeader__logo--custom {
  height: auto !important;
  max-width: 1000px !important;
  margin: 0 0 0 0 !important; /* Left-justified */
}

/* Overrides for conflicting styles */
.knHeader .knHeader__logo--custom {
  width: 100% !important;
  max-width: 1000px !important;
  margin: 0 0 0 0 !important; /* Left-justified */
}

.knHeader .knHeader__logo .knHeader__logo-image {
  width: 100% !important;
  object-fit: contain !important;
}

/* Media queries for larger screens */
@media (min-width: 768px) {
  .knHeader__logo.knHeader__logo--custom {
    width: 80% !important;
  }
}

@media (min-width: 1024px) {
  .knHeader__logo.knHeader__logo--custom {
    width: 80% !important; /* Medium width on large screens */
    max-width: 1000px !important;
  }
}

/* Media queries for image resizing */
@media (max-width: 767px) {
  .knHeader__logo.knHeader__logo--custom {
    width: 100% !important; /* Full width on small screens */
    max-width: 600px !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .knHeader__logo.knHeader__logo--custom {
    width: 80% !important; /* Medium width on medium screens */
    max-width: 800px !important;
  }
}