.block {
  display: block;
  border: none;
  border-radius: 0.2em;
  background-color: #00396d;
  color: white;
  padding: 10px 45px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}

/* Sign Up view - Available Assignments table scene_208 view_466 */
/* My Assignments view - Today's Assignments table scene_208 view_447 */
/* My Assignments view - Future Assignments table scene_208 view_439 */
.table-spinner {
  color: #023f74;
  font-size: 30px;
}

.pagination-arrows {
  cursor: pointer;
  display: flex;
}

.shift-header {
  background-color: #023f74;
  color: white;
}

.assignments-table {
  overflow: visible;
  /* Add some space between table and pagination controls below */
  margin-bottom: 10.5px;
}

.my-shift-button > span.icon > i {
  color: #af3c3c;
}
