/***************************************/
/************* Big Buttons *************/
/***************************************/
.big-button-container {
  border-radius: 2px;
  box-shadow: 0px 1px 2px 0px gray;
  font-size: 2.5em;
  padding: 10px;
  margin: 20px;
  max-width: 15em;
  display: block;
}

.big-button-container:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.big-button-disabled {
  pointer-events: none;
  background-color: #f7f7f7;
}

.fa {
  vertical-align: middle;
}

a.big-button-container {
  text-decoration: none;
}

/***************************************/
/************* Small Buttons *************/
/***************************************/
.small-button-container {
  padding: 5px;
  margin: 20px;
  border-radius: 2px;
  box-shadow: 0px 1px 2px 0px gray;
  font-size: 1em;
  max-width: 15em;
  background-color: #babbbc;
  color: white;
}

.small-button-container:hover {
  background-color: #4c4c4c;
  cursor: pointer;
}

a.small-button {
  text-decoration: none;
}


.kn-input input.knack-date {
    width: 7em !important;
}

.kn-input input.kn-time {
    width: 7em !important;
}

#kn-input-field_165 > div.kn-datetime > div:nth-child(1){ 
    width: 200px;display: inline;
}

#kn-input-field_165 > div.kn-datetime > div:nth-child(2){
  text-align: left !important;
  width: 80px;
  display: inline;
}

#kn-input-field_165 > div.kn-datetime > div:nth-child(3){
  width: 200px;
  display: inline;
}

#view_133 > div.kn-records-nav > div.js-filter-menu.tabs.is-toggle.is-flush > ul > li:nth-child(2) > a{
  color: white;
  background-color: red;
}

#view_133 > div.kn-records-nav > div.js-filter-menu.tabs.is-toggle.is-flush > ul > li:nth-child(3) > a{
  color: white;
  background-color: blue;
}
#view_133 > div.kn-records-nav > div.js-filter-menu.tabs.is-toggle.is-flush > ul > li:nth-child(4) > a{
  color: white;
  background-color: #47a65a;
}
#view_133 > div.kn-records-nav > div.js-filter-menu.tabs.is-toggle.is-flush > ul > li:nth-child(5) > a{
  color: white;
  background-color: #ff8800;
}
