/***************************/
/**** Step Indicator *******/
/***************************/
/* General Step Indicator */
/* Chauffeur Permit Form  */
.stepindicator {
  width: 120%;
  z-index: 1;
  display: inline-flex;
  position: static;
}
.label-stepindicator {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background: #005ea2;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  color: white;
  line-height: 1.5em;
  font-size: 1.5em;
}

.active-label-stepindicator {
  font-weight: bold;
  font-size: 1.5em;
  margin-left: 20px;
}
.progressbar {
  counter-reset: step;
}

/* This is for the Circle number */
.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  border: 2px solid #bebebe;
  display: block;
  border-radius: 50%;
  line-height: 26px;
  background: white;
  color: #bebebe;
  text-align: center;
  font-weight: bold;
}

/* This is for the bars */
.progressbar li {
  list-style-type: none;
  float: left;
  width: 25%;
  position: relative;
  text-align: left;
  margin-left: -5px;
}

.progressbar li + li {
  margin-top: unset;
}

.progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  background: #979797;
  top: 10px;
  left: -90%;
  z-index: -1;
}

/* Hides the first child bar */
.progressbar li:first-child:after {
  content: none;
}

.progressbar li.active + li:after {
  background: #005ea2;
}

.progressbar li.active::before {
  border: 2px solid white;
  background: #005ea2;
  color: white;
}
.progressbar li.active {
  font-weight: bold;
  color: #005ea2;
}
.progressbar li.inactive {
  font-weight: bold;
  color: #163f6e;
}
.progressbar li.inactive + li:after {
  background: #163f6e;
}

.progressbar li.inactive::before {
  border-color: white;
  background: #163f6e;
  color: white;
}

/***************************/
/**** Step Indicator *******/
/***************************/
/* Operating Authority Form Only */
.progressbar #oa {
  list-style-type: none;
  float: left;
  width: 15%;
  position: relative;
  text-align: left;
  margin-left: -1px;
}

/***************************/
/**** Step Indicator *******/
/***************************/
/* For mobile screens step indicator */
@media only screen and (max-width: 600px) {
  .progressbar li:before {
    margin-top: -33px;
    line-height: 18px;
    width: 20px;
    height: 20px;
    border-width: 1px;
  }

  .progressbar li#oa,
  .progressbar li#oa.active,
  .progressbar li#oa.inactive {
    font-size: 9.5px;
  }

  .progressbar li.active::before {
    border-width: 1px;
  }

  .progressbar li,
  .progressbar li.active,
  .progressbar li.inactive {
    font-size: 11px;
    padding-top: 15px;
  }

  .progressbar li:after {
    border-left: 1px solid white;
    height: 10px;
    margin-top: -2em;
  }
}
/***************************************/
/*********** Trigger Buttons ***********/
/***************************************/
.trigger-button {
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 0px gray;
  background-color: #ebebeb;
  color: #163f6e;
  padding: 5px 10px;
  font-size: 1.1em;
  text-align: center;
  display: inline-block;
}

.trigger-button:hover {
  cursor: pointer;
  opacity: 0.9;
  border-color: gray;
}

/*Large Trigger Buttons*/
.trigger-button-large {
  width: 250px;
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 0px gray;
  background-color: #ebebeb;
  color: #163f6e;
  padding: 10px 10px;
  font-size: 1.5em;
  text-align: center;
  display: inline-block;
}

.trigger-button-large:hover {
  cursor: pointer;
  opacity: 0.9;
  border-color: gray;
}

.trigger-button-large-disabled {
  width: 250px;
  border-color: transparent;
  border-radius: 4px;
  background-color: #cbcbcb;
  color: #777777;
  padding: 10px 10px;
  font-size: 1.5em;
  text-align: center;
  opacity: 0.6;
  display: inline-block;
  outline-color: transparent;
}

a.trigger-button-large {
  text-decoration: none;
}

/***************************************/
/************* Big Buttons *************/
/***************************************/
.big-button-container {
  padding: 20px 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px gray;
  font-size: 2.5em;
  max-width: 15em;
  display: block;
}

.big-button-container:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.big-button-disabled {
  background-color: #f7f7f7;
  opacity: 0.6;
  pointer-events: none;
}

a.big-button-container {
  text-decoration: none;
}

/**************************************/
/***** Validation Message Styling *****/
/**************************************/
.kn-notification, .is-confirmation, .is-warning, .is-alert { 
  color: black !important;
}

.kn-notification  { background-color: #c0f1f7 !important; }
.is-confirmation  { background-color: #caf4bc !important; }
.is-warning       { background-color: #ffe09a !important; }
.is-alert         { background-color: #ff9b9c !important; }

/**************************************/
/***** Remove Back Links on Scene *****/
/**************************************/
#kn-scene_198 .kn-back-link,    /* Submitted OA            */
#kn-scene_209 .kn-back-link,    /* 1 - Service Type        */
#kn-scene_235 .kn-back-link,    /* 2 - Business Info       */
#kn-scene_239 .kn-back-link,    /* 3 - Insurance           */
#kn-scene_241 .kn-back-link,    /* 4 - Additional People   */
#kn-scene_245 .kn-back-link,    /* 5 - Vehicle Information */
#kn-scene_250 .kn-back-link,    /* 6 - Review and Submit   */
#kn-scene_288 .kn-back-link     /* 7 - Add Notary          */
{
  display: none;
}

/***************************************/
/********* FA Icon Positioning *********/
/***************************************/
.fa {
  vertical-align: baseline;
}

/***************************************/
/************ Small Buttons ************/
/***************************************/
.small-button-container {
  padding: 5px 10px;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px gray;
  font-size: 1em;
  max-width: 15em;
  background-color: #babbbc;
  color: white;
}

.small-button-container:hover {
  background-color: #4c4c4c;
  cursor: pointer;
}

.small-button-disabled {
  background-color: #f7f7f7;
  opacity: 0.6;
}

a.small-button {
  text-decoration: none;
}

/****************************************/
/*** Dropdown Menu Buttons Navigation ***/
/****************************************/

/* hide custom menu if on mobile */
@media (max-width: 770px) {
  #desktop-menu-list {
    display: none;
  }
}


/* hide knack menu buttons if on desktop */
@media (min-width: 770px) {
  #mobile-menu-list {
    display: none;
  }
}

/*list, list item, and button stylings*/
#desktop-menu-list {
  border-bottom: 0 !important;
}

#desktop-menu-list li {
  margin-right: 0.5em;
  box-shadow: 0px 2px 4px 0px gray;
}

#desktop-menu-list .kn-button a {
  color: #163f6e;
  font-size: 1.1em;
  border-bottom: 0;
  padding-top: 3px;
}

.desktop-dropdown-menu-list .kn-button {
  border-radius: 1px;
}

.desktop-dropdown-menu-list li {
  border: 0;
  margin-right: 0 !important;
}

.desktop-dropdown-menu-list li:hover {
  background-color:#ebebeb;
}

/*Mobile list, list item, and button stylings*/
.mobile-details-dropdown-menu ul {
  margin-left: .25em;
}

#mobile-menu-list {
  list-style-type: none;
  margin: 0;
} 

#mobile-menu-list li {
  margin-top:5px;
  margin-left:5px;
} 

#mobile-menu-list ul {
  list-style-type: none;
}

#mobile-menu-list .kn-button a {
  padding: 5px;
  text-decoration: none;
}

.mobile-dropdown-menu span {
  margin-top: .25em;
  color: #163f6e;
}

.mobile-dropdown-menu-list {
  margin-top: 1em;
}

.mobile-dropdown-menu-list.active {
  display: inherit;
}

/******************************************************/
/********* Style Horizontal radio buttons ************/
/*****************************************************/
#kn-input-field_46 .kn-radio,
#kn-input-field_47 .kn-radio,
#kn-input-field_50 .kn-radio,
#kn-input-field_51 .kn-radio,
#kn-input-field_54 .kn-radio,
#kn-input-field_75 .kn-radio {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.control {
  margin-right: 0.5em;
}

/*Mobile Detail labels for printing*/

/* Prints 3 pages */
#view_212 .kn-detail-label {
  background-color: transparent;
  min-width: 60% !important;
}
#view_236 .kn-detail-label,
#view_214 .kn-detail-label {
  background-color: transparent;
  min-width: 80% !important;
}

/* Prints 4 pages */
#view_105 .kn-detail-label {
  background-color: transparent;
  min-width: 60% !important;
}
#view_237 .kn-detail-label,
#view_184 .kn-detail-label,
#view_195 .kn-detail-label {
  background-color: transparent;
  min-width: 80% !important;
}

/********************************************/
/****** Print Application Header ************/
/********************************************/
#kn-scene_65,
#kn-scene_83,
#kn-scene_100,
#kn-scene_101 {
  counter-reset: page;
}
#kn-scene_65 .view-group,
#kn-scene_83 .view-group,
#kn-scene_100 .view-group,
#kn-scene_101 .view-group {
  display: block; /* avoids text overlapping */
}

.image-header-container {
  display: block;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  break-before: page;
}

.image-seal {
  content: url("https://files.gitbook.com/v0/b/gitbook-x-prod.appspot.com/o/spaces%2FCqNGfEc0WO4ar1y6yBB3%2Fuploads%2FdxBFascjuN72Cl1NwFMQ%2Fimage.png?alt=media&token=caaa96e0-8684-4747-b936-f5501a1259f6");
  width: 152px;
  height: 113.324px;
  display: inline-block;
  vertical-align: top;
  border-right: 3px solid #2b5ea0;
}

.text-header {
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}

.header-title {
  color: #2b5ea0;
  font-weight: lighter;
  font-size: 1.5em;
}

/* Page Number Counter setup */
.page-counter {
  display: block;
  text-align: right;
  margin-top: 10px;
}

.page-counter .page-number::before {
  counter-increment: page;
  content: counter(page);
}

/* Print Operating Authoriy Notary */
/*640 and 639 is text content for notary. 614 is form*/
#view_640,
#view_639 {
  display: none;
}
@media print {
  #view_846,
  #view_920 {
    display: none;
  }
  #view_640,
  #view_639 {
    display: contents;
  }
}

/*********************************************/
/******** Header Banner Image Styling ********/
/*********************************************/

/* Base styles for the image */
img.knHeader__logo-image {
  width: 100% !important;
  height: auto !important;
  max-width: 100% !important;
  object-fit: contain !important;
}

/* Base styles for the parent container */
.knHeader__logo.knHeader__logo--custom {
  height: auto !important;
  max-width: 1000px !important;
  margin: 0 0 0 0 !important; /* Left-justified */
}

/* Overrides for conflicting styles */
.knHeader .knHeader__logo--custom {
  width: 100% !important;
  max-width: 1000px !important;
  margin: 0 0 0 0 !important; /* Left-justified */
}

.knHeader .knHeader__logo .knHeader__logo-image {
  width: 100% !important;
  object-fit: contain !important;
}

/* Media queries for larger screens */
@media (min-width: 768px) {
  .knHeader__logo.knHeader__logo--custom {
    width: 80% !important;
  }
}

@media (min-width: 1024px) {
  .knHeader__logo.knHeader__logo--custom {
    width: 80% !important; /* Medium width on large screens */
    max-width: 1000px !important;
  }
}

/* Media queries for image resizing */
@media (max-width: 767px) {
  .knHeader__logo.knHeader__logo--custom {
    width: 100% !important; /* Full width on small screens */
    max-width: 600px !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .knHeader__logo.knHeader__logo--custom {
    width: 80% !important; /* Medium width on medium screens */
    max-width: 800px !important;
  }
}