/* hide attachment type column (field contents are extracted via JS */
div.view_2107 .field_2403 {
  display: none;
}
div.view_2108 .field_2403 {
  display: none;
}
div.view_2565 .field_2403 {
  display: none;
}

/* hide attachment type columns (in Traffic Counts), field contents extracted via JS */
div.view_2357 .field_3174 {
  display: none;
}
div.view_2486 .field_3174 {
  display: none;
}

/* hide attachment type columns (in Manage Requests under Traffic Counts), field contents extracted via JS */
div.view_2491 .field_3174 {
  display: none;
}

/* hide attachment type columns (in Request Status under Traffic Counts), field contents extracted via JS */
div.view_2465 .field_3174 {
  display: none;
}

/* move and style lat/lon fields and button to overlay React app map in View Work Order Details view (scene_1028) */
#lat-lon-form {
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  margin-top: -150px;
  padding-bottom: 40px;
}

#lat-lon-form button {
  margin-left: +4px;
}

#lat-lon-form label.help {
  /* add id to second label.help to target it */
  margin-top: -50px !important;
  font-weight: bold;
  font-size: 13px;
  margin-top: 1px;
}

#lat-lon-form #latitude {
  width: 190px;
}

#kn-input-field_3300 > div > div:nth-child(2) > input {
  margin-left: -190px;
}

#kn-input-field_3300 > div > div:nth-child(2) > label {
  margin-left: -190px;
}

.big-button-container {
  border-radius: 2px;
  box-shadow: 0px 1px 2px 0px gray;
  font-size: 2.5em;
  padding: 10px;
  margin: 20px;
  max-width: 16em;
}

.big-button-container:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.fa {
  vertical-align: middle;
}

a.big-button {
  text-decoration: none;
}

a.small-button {
  text-decoration: none;
}

.small-button-container {
  padding: 5px;
  margin: 20px;
  border-radius: 2px;
  box-shadow: 0px 1px 2px 0px gray;
  font-size: 1em;
  max-width: 15em;
  background-color: #828282;
  color: white;
}

.small-button-container:hover {
  background-color: #4c4c4c;
  cursor: pointer;
}

/* Make back link in Location Details View bold, larger, and add FontAwesome back arrow */
#kn-scene_1039 > div.kn-view.kn-back-link > a {
  font-weight: 700;
  font-size: 18px;
}

#kn-scene_1039 > div.kn-view.kn-back-link > a:before {
  font-family: "FontAwesome";
  content: "\f0a8";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
}

@media (max-width: 800px) {
  /* Make buttons with type="submit" bigger */
  button[type="submit"] {
    height: 64px !important;
    font-size: 32px !important;
    min-width: fit-content;
    width: 100%;
  }

  /* Override width set for submit buttons to prevent overlaying map controls */
  #lat-lon-form > form > div > button {
    width: 50%;
  }
}
