/* hide attachment type column (field contents are extracted via JS */
div.view_2107 .field_2403 {
  display: none;
}
div.view_2108 .field_2403 {
  display: none;
}

/* hide attachment type columns (in Traffic Counts), field contents extracted via JS */
div.view_2357 .field_3174 {
  display: none;
}
div.view_2486 .field_3174 {
  display: none;
}

/* hide attachment type columns (in Manage Requests under Traffic Counts), field contents extracted via JS */
div.view_2491 .field_3174 {
  display: none;
}

/* hide attachment type columns (in Request Status under Traffic Counts), field contents extracted via JS */
div.view_2465 .field_3174 {
  display: none;
}

/* move and style lat/lon fields and button to overlay React app map */
#lat-lon-form {
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  margin-top: -130px;
}

#lat-lon-form button {
  margin-top: -125px;
  margin-left: +5px;
}

#lat-lon-form label.help {
  font-weight: bold;
  font-size: 13px;
  margin-top: 1px;
}
