/***************************************/
/********* FA Icon Positioning *********/
/***************************************/
.fa { vertical-align: baseline; }

.fa-bot { vertical-align: text-bottom; }

.fa-top { vertical-align: text-top; }

/****************************************/
/************ Button Effects ************/
/****************************************/
.disabled { cursor: not-allowed; }

.centered-text { text-align: center; }

.delete { border: #adb5bd .2em !important; background-color: #adb5bd !important;}

.close-modal {border: #495057 !important; background-color: #495057 !important;}

.delete:before { background-color: white !important; width: 66% !important; left: 44% !important; height: 3px !important; border-radius: 2px !important;}

.delete:after { background-color: white !important; width: 66% !important; left: 44% !important; height: 3px !important; border-radius: 2px !important;}

/***************************************/
/************* Big Buttons *************/
/***************************************/
.big-button-container {
  padding: 10px 10px;
  margin: 20px;
  border-radius: 2px;
  box-shadow: 0px 1px 2px 0px gray;
  font-size: 2.5em;
  max-width: 15em;
  display: block;
}
 
.big-button-container:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.big-button-disabled {
  background-color: #f7f7f7;
  opacity: 0.6;
  pointer-events: none;
}
 
a.big-button-container { 
  text-decoration: none;
}

/***************************************/
/************ Small Buttons ************/
/***************************************/
.small-button-container {
  padding: 5px 5px;
  margin: 20px;
  border-radius: 2px;
  box-shadow: 0px 1px 2px 0px gray;
  font-size: 1em;
  max-width: 15em;
  background-color: #babbbc;
  color: white;
}

.small-button-container:hover {
  background-color: #4c4c4c;
  cursor: pointer;
}

.small-button-disabled {
  background-color: #f7f7f7;
  opacity: 0.6;
}

a.small-button {
  text-decoration: none;
}

/**********************************************/
/*** Telework Form: Your Name Styling ***/
/**********************************************/
div#view_99_field_147_chzn {
 pointer-events: none !important;
}

div#view_99_field_147_chzn a {
  color: grey !important;
}
