/* Big Buttons */
.big-button-container {
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px gray;
  font-size: 2.5em;
  padding: 10px 10px;
  margin: 20px;
  max-width: 18em;
  display: block;
}

.big-button-container:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.fa {
  vertical-align: baseline;
}

a.big-button-container {
  text-decoration: none;
}

/* Small Buttons */
.small-button-container {
  padding: 5px;
  margin: 20px;
  border-radius: 2px;
  box-shadow: 0px 1px 2px 0px gray;
  font-size: 1em;
  max-width: 15em;
  background-color: #babbbc;
  color: white;
}

.small-button-container:hover {
  background-color: #4c4c4c;
  cursor: pointer;
}
a.small-button {
  text-decoration: none;
}
.group-layout-wrapper .view-column {
  display: block;
}
///Buttons - Customer Action Button #1
#view_3407 > div > a{
  background-color: #1A3D6B;
  color: #ffffff;
  width: 10%;
  padding: 14px 28px;
  font-size: 16px;
}
///Buttons - Customer Action Button #2

#view_3412 > div > a{
  background-color: #1A3D6B;
  color: #ffffff;
  width: 10%;
  padding: 14px 28px;
  font-size: 16px;
}
