/***************************************/
/************* Big Buttons *************/
/***************************************/
.big-button-container {
  padding: 10px 10px;
  margin: 20px;
  border-radius: 2px;
  box-shadow: 0px 1px 2px 0px gray;
  font-size: 2.5em;
  max-width: 16em;
  display: block;
}
 
.big-button-container:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}

.big-button-disabled {
  background-color: #f7f7f7;
  opacity: 0.6;
} 
 

a.big-button {
  text-decoration: none;
}

/****************************************/
/************ Button Effects ************/
/****************************************/
.disabled { 
  cursor: not-allowed; 
}

/****************************************/
/************* Icon Effects *************/
/****************************************/
.fa { vertical-align: baseline; 

}

a.small-button {
  text-decoration: none;
}

.small-button-container {
  padding: 5px;
  margin: 20px;
  border-radius: 2px;
  box-shadow: 0px 1px 2px 0px gray;
  font-size: 1em;
  max-width: 15em;
  background-color: #828282;
  color: white;
}

.small-button-container:hover {
  background-color: #4c4c4c;
  cursor: pointer;
}
